<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Spring Data test</title>
</head>
<body>
	<h1>Spring Data test</h1>
	<h2>Important messages</h2>
	<div>
		<ul>
			<li th:each="m : ${messages}" th:text="${m.subject} + ' - ' + ${m.text}"></li>
		</ul>
		<form th:action="@{/newMessage.action}"><input type="submit" value="New message"/></form>
	</div>
	<h2>Posts</h2>
	<div>
		<ul>
			<li th:each="p : ${posts}" th:text="${p.title} + ' - ' + ${p.content}"></li>
		</ul>
		<form th:action="@{/newPost.action}"><input type="submit" value="New post"/></form>
	</div>
	<h2>Movies</h2>
	<div>
		<ul>
			<li th:each="m : ${movies}">
				<span th:text="${m.title}"></span>
				<ul>
					<li th:each="a : ${m.cast}" th:text="${a.name}"></li>
				</ul>
			</li>
		</ul>
		<form th:action="@{/newMovie.action}"><input type="submit" value="New movie"/></form>
	</div>
</body>
</html>